/*
 * File: /src/components/UI/SearchBar/style.scss
 * Created Date: Monday, January 15th 2024
 * Author: Nathan Coquelin
 * -----
 * Last Modified: Thu Jan 18 2024
 * Modified By: liber4lis
 * -----
 * HISTORY:
 * Date      	By	Comments
 * ----------	---	--------------------------------
 */

@import '../../../sass/main.scss';

.search-bar {
  &__container {
    width: min(calc(100% - 4rem), 60rem);
    margin: 8rem auto 0 auto;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
  }
  height: 4.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  overflow: hidden;
  border: 1px solid var(--color-accent-1);
  background-color: var(--color-accent-2);
  &__icon-left {
    color: var(--color-text);
    font-size: 2.5rem;
  }
  &__text-input {
    border: none;
    flex-grow: 1;
    height: 100%;
    font-size: 2rem;
    padding: 0 1rem;
    background-color: transparent;
    color: var(--color-text);
    &:active,
    &:focus,
    &:target,
    &:focus-visible {
      border: none;
      outline: none;
    }
  }
  &__delete {
    font-size: 2.8rem;
    color: var(--color-text);
    cursor: pointer;
  }
  &__loader {
    width: 0;
    height: 3px;
    display: block;
    height: 3px;
    background-color: var(--color-primary);
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    opacity: 1;
    &.empty {
      width: 0px;
    }
    &.loading {
      width: 80%;
    }
    &.loaded {
      animation: loaded-search 1s;
    }
    &.writting {
      width: 0;
    }
  }
}

.search__suggestions {
  max-height: 40rem;
  overflow-y: scroll;
  width: min(calc(100% - 4rem), 80rem);
  margin: 8rem auto 0 auto;
  background-color: var(--color-accent-2);
  border: 1px solid var(--color-accent-1);
  border-radius: 2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes loaded-search {
  0% {
    width: 80%;
    opacity: 1;
  }

  40% {
    width: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
