{# templates/admin/dashboard.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}


{% block content_title %}Tableau de bord{% endblock %}

{% block content %}

    <style> 
        .intro {
            text-align: center;

        }
        .intro p {
            font-size: 20px;
        }
        .intro a {
            font-size: 20px;
        }
        .chart-container {
            max-width: 400px;
            margin: auto;
            color: white;
        }
        .chart-container h1 {
            font-size: 20px;
            text-align: center;
        }
    
    
    </style>

    <div class="intro">
        <img src="/imgs/logo_colors.png" alt="Image du tableau de bord administrateur" style="max-width: 10%; height: auto; margin-top: 20px;">
        <p><br><br><br>Bienvenue dans le tableau de bord administrateur.<br>Ce panneau vous permet de gérer les membres du Trombinoscope et d'effectuer des tâches de gestion des utilisateurs.</p>
        

            <h2><a href="{{ person_url }}">Gérer les membres du Trombinoscope</h2>
            <h2><a href="{{ admin_url }}">Gérer les administrateurs</a><br><br><br><br></h2>
        
        <div class="chart-container">
            <h1>Ratio des membres par Ville: </h1>
            <canvas id="pieChart" width="400" height="400"></canvas>
        </div>

    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    async function fetchData() {
        try {
            const response = await fetch('http://127.0.0.1:8000/api/employees/agency');
            const data = await response.json();

            createPieChart(data);
        } catch (error) {
            console.error('Erreur lors de la récupération des données:', error);
        }
    }

    function createPieChart(data) {
        const cities = data.map(entry => entry.city);
        const proportions = data.map(entry => entry.proportion);

        const canvas = document.getElementById('pieChart');
        const ctx = canvas.getContext('2d');

        const pieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: cities,
                datasets: [{
                    data: proportions,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Répartition des proportions par ville'
                }
            }
        });
    }

    fetchData();
    </script>

{% endblock %}
