/*
 * File: /src/components/UI/UserCards/UserCardItem/ProfilePicture/styles.scss
 * Created Date: Tuesday, January 16th 2024
 * Author: Nathan Coquelin
 * -----
 * Last Modified: Thu Jan 18 2024
 * Modified By: Nathan Coquelin
 * -----
 * HISTORY:
 * Date      	By	Comments
 * ----------	---	--------------------------------
 */

.user-card__profile-picture {
  z-index: 0;
  &--img {
    height: 40rem;
    position: absolute;
    left: -2rem;
    top: 0;
    &.avatar {
      width: 20rem;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
