{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post">
            <label for="email">Email:</label>
            <input type="text" id="email" name="_username" value="{{ last_username }}" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" required />

            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}
